alembic==1.4.2
apispec==1.3.3
appdirs==1.4.4
appnope==0.1.0
argcomplete==1.12.0
argon2-cffi==20.1.0
attrs==19.3.0
autocommand==2.2.1
Babel==2.8.0
backcall==0.2.0
bleach==3.1.5
blis==0.7.3
cached-property==1.5.1
catalogue==2.0.1
cattrs==1.0.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorlog==4.0.2
configparser==3.5.3
croniter==0.3.34
cycler==0.10.0
cymem==2.0.4
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distlib==0.3.1
dnspython==2.0.0
docutils==0.16
elasticsearch==7.9.1
email-validator==1.1.1
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.14
Flask-WTF==0.14.3
funcsigs==1.0.2
future==0.18.2
gcloud==0.18.3
gensim==3.8.3
googleapis-common-protos==1.52.0
graphviz==0.14.1
gunicorn==20.0.4
httplib2==0.18.1
huggingface-hub==0.0.8
idna==2.10
importlib-metadata==1.7.0
importlib-resources==3.0.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.12
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
json-merge-patch==0.2
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.5.1
lockfile==0.12.2
lxml==4.6.1
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
merge-idioms==0.0.8
mistune==0.8.4
murmurhash==1.0.4
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.5
notebook==6.1.3
numpy==1.20.1
oauth2client==4.1.3
opencv-python==4.5.2.52
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pathy==0.3.4
pendulum==1.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
preshed==3.0.4
prison==0.1.3
prometheus-client==0.8.0
prompt-toolkit==3.0.6
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
pydantic==1.6.1
Pygments==2.6.1
PyGObject==3.38.0
PyJWT==1.7.1
pymongo==3.11.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
pyrsistent==0.16.0
python-daemon==2.2.4
python-dateutil==2.8.1
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytokenizations==0.7.2
pytz==2020.1
pytzdata==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
regex==2020.10.15
requests==2.24.0
rsa==4.7
sacremoses==0.0.45
scipy==1.5.2
Send2Trash==1.5.0
setproctitle==1.1.10
simplejson==3.17.2
six==1.15.0
smart-open==3.0.0
spacy-nightly==3.0.0rc2
SQLAlchemy==1.3.19
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
srsly==2.3.2
tabulate==0.8.7
tenacity==4.12.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thinc==8.0.0rc2
threadpoolctl==2.1.0
thrift==0.13.0
tokenizers==0.10.3
tornado==6.0.4
tqdm==4.51.0
traitlets==4.3.3
transformers==4.6.1
typer==0.3.2
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.10
virtualenv==20.1.0
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wikitextparser==0.46.0
wiktextract==0.2.0
WTForms==2.3.3
xmltodict==0.12.0
youtube-dl==2020.7.28
zipp==3.1.0
zope.deprecation==4.4.0
